@model Web_Application.ModelViews.CompanyMV
@{
    ViewData["Title"] = "Details";
}
<input asp-for="@Model.Id" type="text" id="txtId" hidden/>
<div style="display:flex;width: 106%;" class="mb-2">
        <h2 >@Model.CompanyName Details</h2>
    <a class="btn btn-success " asp-action="Index" style="margin-left:71%; height:10% " asp-controller="Company">Back</a>
    
</div>

<div class="card shadow mb-4" >
    <div class="card-header py-3 mb-3">
        <h6 class="m-0 font-weight-bold text-primary">Demo Informations DataTables</h6>
    </div>

    <div class="card-body" style="font-size: 80%;">
        <div class="table-responsive">
            <table class="display" id="dataTableDemo" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Quatation Price</th>
                        <th scope="col">Software Type</th>
                        <th scope="col">Total User</th>
                        <th scope="col">No. Of Branch</th>
                        <th scope="col">No. Of Company</th>
                        <th scope="col">Market By</th>
                        <th scope="col">Implemented By</th>
                        <th scope="col">Follow Up Date</th>
                        <th scope="col">Sale Stage</th>
                        <th scope="col">Client Feed Back</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3 mb-3">
        <h6 class="m-0 font-weight-bold text-primary">AMC Informations DataTables</h6>
    </div>
    <div class="card-body" style="font-size: 80%;">
    <div class="table-responsive">
        <table class="display" id="dataTableAmc" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Client</th>
                    <th scope="col">Open Date</th>
                    <th scope="col">AMC Amount</th>
                    <th scope="col">Follow Up Date</th>
                    <th scope="col">Close Date</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3 mb-3">
        <h6 class="m-0 font-weight-bold text-primary">Registration Informations DataTables</h6>
    </div>
    <div class="card-body"style="font-size: 80%;">
        <div class="table-responsive">
            <table class="display" id="dataTableRegister" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">FirstName</th>
                        <th scope="col">LastName</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Email</th>
                        <th scope="col">Profile</th>
                        <th scope="col">IsActive</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3 mb-3">
        <h6 class="m-0 font-weight-bold text-primary">Issue Informations DataTables</h6>
    </div>
    <div class="card-body" style="font-size: 80%;">
        <div class="table-responsive">
            <table class="display" id="dataTableIssues" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        
                        <th scope="col"></th>
                        <th scope="col">ID</th>
                        <th scope="col">Issue No</th>
                        <th scope="col">Days Count</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Support</th>
                        <th scope="col">Transfer</th>
                        <th scope="col">Contact Name</th>
                        <th scope="col">Phone Number</th>
                        @*<th scope="col">Issue Description</th>
                        <th scope="col">Issue Generator Steps</th>*@
                        <th scope="col">Status</th>
                        <th scope="col">Close Date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var id = $("#txtId").val();
            $('#dataTableDemo').DataTable({
                ajax: {
                    url: '/Company/GetDemos?id=' + id,
                    type: 'POST',
                },
                columns: [
                    { data: 'id' },
                    { data: 'quatationPrice' },
                    { data: 'softwareType' },
                    { data: 'totalUser' },
                    { data: 'noOfBranch' },
                    { data: 'noOfCompany' },
                    { data: 'marketedBy' },
                    { data: 'implementedBy' },
                    { data: 'followUpDate' },
                    { data: 'saleStage' },
                    { data: 'feedBack' },
                ],
                scrollX: true,
                scrollY: 100,
            });
            $('#dataTableAmc').DataTable({
                ajax: {
                    url: '/Company/GetAMC?id=' + id,
                    type: 'POST',
                },
                columns: [
                    { data: 'id' },
                    { data: 'client' },
                    { data: 'openDate' },
                    { data: 'amcAmount' },
                    { data: 'followUpDate' },
                    { data: 'closeDate' },
                ],
                scrollX: true,
                scrollY: 100,
            });
            $('#dataTableRegister').DataTable({
                ajax: {
                    url: '/Company/GetUsers?id=' + id,
                    type: 'POST',
                },
                columns: [
                    { data: 'id' },
                    { data: 'firstName' },
                    { data: 'lastName' },
                    { data: 'userName' },
                    { data: 'email' },
                    { data: 'profile' },
                    {
                      data: 'isActive',
                      render: function(data, type, row) {
                            return '<input type="checkbox" onClick="return false" ' + (data ? 'checked' : '') + '>';
                      }
                    }
                ],
                scrollX: true,
                scrollY: 100,
            });
            function format(d) {
                // `d` is the original data object for the row
                return (
                    '<dl>' +
                    '<dt>Issue Descrption:</dt>' +
                    '<dd>' +
                    d.issueDescription +
                    '</dd>' +
                    '<dt>Issue Generation Steps:</dt>' +
                    '<dd>' +
                    d.issueGeneratorSteps +
                    '</dl>'
                );
            }
            var dataTable = $('#dataTableIssues').DataTable({
                ajax: {
                    url: '/Company/GetIssues?id='+id,
                },
                columns: [
                    {
                        className: 'dt-control',
                        orderable: false,
                        data: null,
                        defaultContent: '',
                    },
                    { data: 'id' },
                    { data: 'issueNo' },
                    { data: 'count' },
                    { data: 'created' },
                    { data: 'support' },
                    { data: 'trasferName' },
                    { data: 'contactName' },
                    { data: 'phoneNumber' },
                    //{ data: 'issueDescription' },
                    //{ data: 'issueGeneratorSteps' },
                    { data: 'status' },
                    { data: 'closeBy' },
                    
                ],
                scrollX: true,
                scrollY: 200,
            });
            dataTable.on('click', 'td.dt-control', function (e) {
                let tr = e.target.closest('tr');
                let row = dataTable.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                }
            });
        });
        

       

    </script>
}



