@{
    ViewData["Title"] = "Dashboard";
}


<div class="row mt-4" style=" width: 100%;font-size: 90%;">


    <div class="col-xl-3 col-md-6 mb-4 ">
        <div class="card border-start-primary bg-primary shadow h-100 py-2">


            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-white text-uppercase mb-1">
                            Total Issue
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-white">@ViewBag.TotalIssue</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-white"></i>
                    </div>
                </div>
                <button id="btnTotalIssue" class="small-box-footer text-white ml-4" style="outline:none; border:none; background:none;">More info <i class="fa-solid fa-circle-arrow-down"></i></button>

            </div>
        </div>

    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success bg-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-white text-uppercase mb-1">
                            Total Issue Assign
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-white">@ViewBag.TotalAssign</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-white"></i>
                    </div>
                </div>
                <button id="btnTotalAssign" class="small-box-footer text-white ml-4" style="outline:none; border:none; background:none;">More info <i class="fa-solid fa-circle-arrow-down"></i></button>

            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info bg-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-white text-uppercase mb-1">
                            Total Issue Transfer
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-white">@ViewBag.TotalTransfer</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-white"></i>
                    </div>
                </div>
                <button id="btnTran" class="small-box-footer text-white ml-4" style="outline:none; border:none; background:none;">More info <i class="fa-solid fa-circle-arrow-down"></i></button>

            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning bg-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-white text-uppercase mb-1">
                            Remainning closing
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-white">@ViewBag.Remain</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-bell fa-2x text-white"></i>
                    </div>
                </div>
                <button id="btnClose" class="small-box-footer text-white ml-4" style="outline:none; border:none; background:none;">More info <i class="fa-solid fa-circle-arrow-down"></i></button>

            </div>
        </div>
    </div>
</div>



<div class="card shadow mb-4" >
    <div class="card-header py-3 mb-3">
        <h6 class="m-0 font-weight-bold text-primary">More Info</h6>
    </div>


    <div class="card-body" style="font-size: 80%;">
        <div class="table-responsive">
            <table class="display" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">Issue No</th>
                        <th scope="col">Support Type</th>
                        <th scope="col">Company Name</th>
                        <th scope="col">Days Count</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Support</th>
                        <th scope="col">Transfer</th>
                        <th scope="col">Contact Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Status</th>
                        <th scope="col">Close Date</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            let dataTable = $('#dataTable').DataTable({
               
                columns: [
                    
                   
                    { data: 'issueNo' },
                    { data: 'supportType' },
                    { data: 'companyName' },
                    { data: 'count' },
                    { data: 'created' },
                    { data: 'support' },
                    { data: 'trasferName' },
                    { data: 'contactName' },
                    { data: 'phoneNumber' },
                    //{ data: 'issueDescription' },
                    //{ data: 'issueGeneratorSteps' },
                    { data: 'status' },
                    { data: 'closeBy' },
                ],
                scrollX: true,
                paging: false,
                scrollY: 180,
                
            });

            $("#btnTotalIssue").on("click", function () {
                dataTable.ajax.url("/Issue/GetValue").load();
                
            });
            $("#btnTotalAssign").on("click", function () {
                dataTable.ajax.url("/Home/TotalAssign").load();
                
            });
            $("#btnTran").on("click", function () {
                dataTable.ajax.url("/Home/TotalTransfer").load();
                
            });
            $("#btnClose").on("click", function () {
                dataTable.ajax.url("/Home/TotalClose").load();
                
            });

        });
    </script>
}

