@model Web_Application.ModelViews.RegisterVM

<div class="modal fade" id="addRegister" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p-2">
                <h4 class="modal-title" id="addRegisterLabel" style="font-size:large">New Register</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    
                </button>
                
            </div>
            <div class="modal-body">
                <form  method="post" asp-action="Register" asp-controller="User"  >
                    @Html.AntiForgeryToken()
                    
                    <div class="mb-3">
                        <input type="text" asp-for="FirstName" required class="form-control" style="height:33px; " placeholder="First Name">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                        <input type="text" asp-for="LastName" class="form-control" style="height:33px" placeholder="Last Name" required>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                        <input type="text" asp-for="UserName" class="form-control" style="height:33px" placeholder="Username" required>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                        <input type="email" asp-for="Email" class="form-control" style="height:33px" placeholder="Email" required>
                        <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                        <select class="form-control" placeholder="select profile">
                            <option>Admin</option>
                            <option>Super Admin</option>
                            <option>OMS Users</option>
                            <option>Support Person</option>
                        </select>
                           <span asp-validation-for="Email" class="alert-danger"></span>
                    </div>
                        <div class="mb-3">
                        <input type="password" asp-for="NewPassword" class="form-control" style="height:33px" placeholder="New password" required>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                        <input type="password" asp-for="ConfirmPassword" class="form-control" style="height:33px" placeholder="Confirm password" required>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        
                    <div class="modal-footer p-2">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </div>
                </form>
                
            </div>
            
        </div>
    </div>
</div>
