@model Web_Application.ModelViews.RegisterVM
@{
    Layout = "_RegisterLayout";
}

    <form action="@Url.Action("Register", "User")" method="post">
        @Html.AntiForgeryToken()
        <div class="container" style="display:flex; flex-direction:column; justify-content:center; align-items:center; margin-top:2%; padding:50px;">
            <div class="fl">
                <input type="text" asp-for="FirstName" class="form-control" placeholder="First Name">
                <span asp-validation-for="FirstName" class="alert-danger"></span>
            </div>
            <div class="fl">
                <input type="text" asp-for="LastName" class="form-control" placeholder="Last Name">
            <span asp-validation-for="LastName" class="alert-danger"></span>
            </div>
            <div class="fl">
                <input type="text" asp-for="UserName" class="form-control" placeholder="Username">
            <span asp-validation-for="UserName" class="alert-danger"></span>
            </div>
            <div class="fl">
                <input type="email" asp-for="Email" class="form-control" placeholder="Email">
            <span asp-validation-for="Email" class="alert-danger"></span>
            </div>
            <div class="fl">
                <input type="password" asp-for="NewPassword" class="form-control" placeholder="New password">
            <span asp-validation-for="NewPassword" class="alert-danger"></span>
            </div>
            <div class="fl">
                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password">
            <span asp-validation-for="ConfirmPassword" class="alert-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width: 35%;">Submit</button>
        </div>
        <h3>@ViewBag.Message</h3>
    </form>

