@model Web_Application.ModelViews.CustomerVM

<style>
    .rw {
        width: 30%;
    }
</style>
<div class="modal fade" id="addRegister" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="width:155%; margin-left: -27%; margin-top: 70px;">
            <div class="modal-header">
                <h4 class="modal-title" id="addRegisterLabel">Add Customer</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>

            </div>
            <div class="modal-body">
                <form asp-action="Customer" asp-controller="Customer">
                    @Html.AntiForgeryToken()
                    <div class="col" style="margin-left: 45px;">
                        <div class="row pb-4">
                            <div class="rw">
                                <label class="form-label">Company Name:</label>
                                <input type="text" asp-for="CompanyName" class="form-control" required>
                            </div>
                            <div class="rw">
                                <label class="form-label">Contact Person:</label>
                                <input type="text" class="form-control" asp-for="ContactPerson" required>
                            </div>
                            <div class="rw">
                                <label class="form-label">Phone No.</label>
                                <input type="text" asp-for="phoneNumber" class="form-control" required>
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="rw">
                                <label class="form-label">Mobile No.</label>
                                <input type="text" asp-for="MobileNumber" class="form-control" required>
                            </div>
                            <div class="rw">
                                <label class="form-label">Email:</label>
                                <input type="email" asp-for="Email" class="form-control" required>
                            </div>
                            <div class="rw">
                                <label class="form-label">Pan No.</label>
                                <input type="text" asp-for="PanNumber" class="form-control" required></input>
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="rw">
                                <label class="form-label">Address:</label>
                                <input type="text" asp-for="Address" class="form-control"  required></input>
                            </div>
                            <div class="rw">
                                <label class="form-label">City:</label>
                                <input type="text" asp-for="City" class="form-control" required></input>
                            </div>
                            <div class="rw">
                                <label class="form-label">Country:</label>
                                <input type="text" asp-for="Country" class="form-control" required></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="btnn" style="display:flex; flex-direction:column; align-items:center;">
                                <button type="submit" class="btn btn-primary">Submit</button>

                            </div>
                        </div>

                    </div>


                </form>


            </div>

        </div>
    </div>
</div>
