@*<style >
    @@media (min-width: 992px) {
        .sel {
            width: 120%;
        }
    }
</style>*@

            <input id="txtReId" name="Id" hidden />
            <div class="col pb-3">
                <div class="sel" style="display:flex;width:200%;">
                    <label class="form-label">Date:</label>
                    <select class="form-select"  id="selDate" style=" height:30px; font-size:13px; margin-left:2px">
                        <option disabled selected>Select Date</option>
                        <option>Today</option>
                        <option>Yesterday</option>
                        <option>Current Week</option>
                        <option>Last Week</option>
                        <option>Current Month</option>
                        <option>last Month</option>
                        <option >Upto Date</option>
                        <option>Custom Date</option>
                    </select>
                </div>
            </div>

            <div class="col pb-3" style="margin-left:42%;">
                <div class="rw" style="display:flex;">
                    <label class="form-label">From:</label>
                    <input type="date" class="form-control" name="FromD" id="txtFrom" style=" height:30px; font-size:13px; margin-left:2px" />
                </div>
            </div>
            <div class="col pb-3" style="margin-left: 5px;">
                <div class="rw" style="display:flex;">
                    <label class="form-label">To:</label>
                    <input type="date" class="form-control" name="To" id="txtTo" style=" height:30px; font-size:13px; margin-left:2px" />
                </div>
            </div>


<script src="~/js/jquery.min.js"></script>

        <script>
            $("#selDate").on("change", function(){
             var date = $(this).val();
            if (date == "Custom Date"){
                $("#txtFrom").val("");
                $("#txtTo").val("");
            }else{
                $.ajax({
                    url:"/Issue/GetReportDate?DateType="+date,
                    type:"Post",
                    success:function(data){
                        $("#txtFrom").val(data[0]);
                        $("#txtTo").val(data[1]);
                    }
                })
            }
            })
       </script>
   