<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_Application</title>
    <link href="//cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <link href="~/css/datatables.css" rel="stylesheet" />
    <link href="~/css/datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    <!-- this should go after your </body> -->
    <style>
        .fl {
            width: 35%;
            padding-bottom: 2%;

        }

    </style>
    <style>
        
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Web_Application</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="Index">Master</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button style="background-color:transparent;" class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Tranctions
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Inquery" >Inquery</a></li>
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Installation">Installation</a></li>
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Support">Support</a></li>
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Demo">Demo</a></li>
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="User">Registration</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button style="background-color:transparent;" class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Reports
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Current Month Installation</a></li>
                                    <li><a class="dropdown-item" href="#">Current Month Expiry</a></li>
                                    <li><a class="dropdown-item" href="#">Expired</a></li>
                                    <li><a class="dropdown-item" href="#">Restration report</a></li>
                                    <li><a class="dropdown-item" href="#">Support</a></li>
                                </ul>

                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button style="background-color:transparent;" class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Client Issue
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Issue">Issue</a></li>
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="IssueActivity">Issue Activity</a></li>
                                </ul>

                            </div>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/js/jquery.min.js"></script>
  
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src='~/js/bootstrap.min.js'></script>
   @* <script src="//kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>*@
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
