<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Support</title>
    <link href="//cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="//cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/datatables.css" rel="stylesheet" />
    <link href="~/css/datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <!-- this should go after your </body> -->
    <style>
        .fl {
            width: 35%;
            padding-bottom: 2%;

        }
    </style>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Company" asp-action="Index">Support</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                   



                    <ul class="navbar-nav flex-grow-1" >
                        


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Master</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown02">
                                <a class="dropdown-item" asp-action="Index" asp-controller="Company">Client Generation</a>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Demo">Demo</a>
                                <a class="dropdown-item" asp-action="Index" asp-controller="AMCEntry">AMC Entry</a>
                                <a class="dropdown-item" asp-action="Index" asp-controller="user">Registration</a>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Issue">Issue</a>
                                @*<div class="dropdown dropend">
                                    <a class="dropdown-item dropdown-toggle" href="#" id="dropdown-layouts" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Client Issue</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-layouts">
                                        <a class="dropdown-item" asp-action="Index" asp-controller="Issue">Issue</a>
                                        <a class="dropdown-item" asp-action="Index" asp-controller="IssueTransfer">Issue Transfer</a>
                                        <a class="dropdown-item" asp-action="Index" asp-controller="IssueSupport">Issue Support</a>
                                        <a class="dropdown-item" asp-action="Index" asp-controller="IssueActivity">Issue Activity</a>
                                        <div class="dropdown-divider"></div>
                                        <div class="dropdown dropend">
                                            <a class="dropdown-item dropdown-toggle" href="#" id="dropdown-layouts" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Custom</a>
                                            <div class="dropdown-menu" aria-labelledby="dropdown-layouts">
                                                <a class="dropdown-item" href="#">Fullscreen</a>
                                                <a class="dropdown-item" href="#">Empty</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Magic</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                                @*<div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>*@
                            </div>
                        </li>

                        @{
                            HttpContextAccessor a = new HttpContextAccessor();
                            ISession session = a.HttpContext.Session;
                            var profile = session.GetString("userProfile");
                            var fUser = session.GetString("userFirstName");
                            var lUser = session.GetString("userLastName");
                        }
                       @* @if (profile == "SuperAdmin" || profile == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-action="Index" asp-controller="User">Registration</a>
                            </li>
                        }*@
                        
                        @*<li class="nav-item">
                            <div class="dropdown">
                                <button style="background-color:transparent;" class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Tranctions
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Inquery" >Inquery</a></li>
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Installation">Installation</a></li>
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Support">Support</a></li>
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Demo">Demo</a></li>
                                    
                                </ul>
                            </div>
                        </li>*@
                        @*<li class="nav-item">
                            <div class="dropdown">
                                <button style="background-color:transparent;" class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Reports
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Current Month Installation</a></li>
                                    <li><a class="dropdown-item" href="#">Current Month Expiry</a></li>
                                    <li><a class="dropdown-item" href="#">Expired</a></li>
                                    <li><a class="dropdown-item" href="#">Restration report</a></li>
                                    <li><a class="dropdown-item" href="#">Support</a></li>
                                </ul>

                            </div>
                        </li>*@
                        
                        @if (profile == "SuperAdmin" || profile == "Admin")
                        {
                            <li class="nav-item dropdown " style="margin-left: 74%;">
                                <a class="nav-link font-weight-bold text-primary " data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@fUser @lUser </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="User" asp-action="Logout">Logout</a>
                                </div>
                            </li>
                        }else{
                        <li class="nav-item dropdown " style="margin-left: 67%;">
                                <a class="nav-link font-weight-bold text-primary " data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@fUser @lUser </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="User" asp-action="Logout">Logout</a>
                            </div>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/js/jquery.min.js"></script>
  
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src='~/js/bootstrap.min.js'></script>
   @* <script src="//kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>*@
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        (function ($bs) {
            const CLASS_NAME = 'has-child-dropdown-show';
            $bs.Dropdown.prototype.toggle = function (_orginal) {
                return function () {
                    document.querySelectorAll('.' + CLASS_NAME).forEach(function (e) {
                        e.classList.remove(CLASS_NAME);
                    });
                    let dd = this._element.closest('.dropdown').parentNode.closest('.dropdown');
                    for (; dd && dd !== document; dd = dd.parentNode.closest('.dropdown')) {
                        dd.classList.add(CLASS_NAME);
                    }
                    return _orginal.call(this);
                }
            }($bs.Dropdown.prototype.toggle);

            document.querySelectorAll('.dropdown').forEach(function (dd) {
                dd.addEventListener('hide.bs.dropdown', function (e) {
                    if (this.classList.contains(CLASS_NAME)) {
                        this.classList.remove(CLASS_NAME);
                        e.preventDefault();
                    }
                    e.stopPropagation(); // do not need pop in multi level mode
                });
            });

            // for hover
            document.querySelectorAll('.dropdown-hover, .dropdown-hover-all .dropdown').forEach(function (dd) {
                dd.addEventListener('mouseenter', function (e) {
                    let toggle = e.target.querySelector(':scope>[data-bs-toggle="dropdown"]');
                    if (!toggle.classList.contains('show')) {
                        $bs.Dropdown.getOrCreateInstance(toggle).toggle();
                        dd.classList.add(CLASS_NAME);
                        $bs.Dropdown.clearMenus();
                    }
                });
                dd.addEventListener('mouseleave', function (e) {
                    let toggle = e.target.querySelector(':scope>[data-bs-toggle="dropdown"]');
                    if (toggle.classList.contains('show')) {
                        $bs.Dropdown.getOrCreateInstance(toggle).toggle();
                    }
                });
            });
        })(bootstrap);
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
