@model Web_Application.ModelViews.IssueVM

<style>
    .rw {
        width: 32%;
    }

    .rw1 {
        width: 48%;
    }

</style>
<div class="modal fade" id="addRegister" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="width:136%;  margin-top: 20px; margin-left:-15%">
            <div class="modal-header p-1" style="background-color:#569A75">
                <h4 class="modal-title text-white" id="addRegisterLabel">Issue</h4>
                <button type="button" class="btn-close m-0" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Issue" asp-controller="Issue" id="form-issue"  enctype="multipart/form-data">
                    <input type="hidden" id="txtcid" value="@(Model!=null?@Model.ContactId:"")" />
                    @Html.AntiForgeryToken()
                    <div class="col" style="margin-left: 13px; ">
                        <div class="row pb-2">
                            <input asp-for="Id" id="txtId" hidden/>
                            
                            <div class="rw" >
                                <label class="form-label">Company:</label>
                                <select asp-for="CompanyId" asp-items="ViewBag.Company" id="selComp" class="form-select" style="height:33px;"  required>
                                    <option selected disabled>select</option>
                                </select>
                            </div>
                            <div class="rw ">
                                <label class="form-label">Created Date:</label>
                                <input type="date" asp-for="CreatedDate" style="height:33px" id="txtCreatedDate" class="form-control"  required/>
                            </div>
                            <div class="rw ">
                                <label class="form-label">Close Date:</label>
                                <input type="date" asp-for="CloseBy" style="height:33px" class="form-control" />
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="rw ">
                                <label class="form-label">Status:</label>
                                <select type="text" asp-for="Status" style="height:33px" class="form-select"   required>
                                    <option selected disabled>Select Status</option>
                                    <option>Open</option>
                                    <option>Close</option>
                                </select>
                            </div>
                            <div class="rw">
                                <label class="form-label">Contact Person:</label>
                                <select type="text" asp-for="ContactId" id="selCon" style="height:34px ;" class="form-select" required>
                                   
                                </select>
                                <input type="email" asp-for="ContactEmail" id="hConEm" hidden/>
                            </div>
                            <div class="rw">
                                <label class="form-label">Support Office:</label>
                                <select type="text" asp-for="AssignTo"  id="selAssign" asp-items="ViewBag.Support" style="height:34px ;" class="form-select" required>
                                    <option disabled selected>Select Support</option>
                                </select>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="rw">
                                <label class="form-label">Transfer To:</label>
                                <select type="text" asp-for="TrasferTo" id="selAssign" asp-items="ViewBag.Support" style="height:34px ;" class="form-select">
                                    <option disabled selected>Select Support</option>
                                </select>
                            </div>
                            <div class="rw">
                                <label class="form-label">Issue Descriptions:</label>
                                <textarea type="text" class="form-control" style="height:48px" asp-for="IssueDescription" required></textarea>
                            </div>
                            <div class="rw">
                                <label class="form-label">Issue Generation Steps:</label>
                                <textarea type="text" asp-for="IssueGeneratorSteps" style="height:48px" class="form-control" required></textarea>
                            </div>
                        </div>
                        
                        
                       
                        <div class="row pb-3">
                            <div class="rw1">
                                <label class="form-label">Attachments:</label>
                                <input type="file" asp-for="Attachments" style="height:33px" class="form-control" multiple>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="row">
                        <div class="btnn" style="display:flex; flex-direction:column; align-items:center;">
                            @*<input type="button" class="btn btn-primary" id="submitBtn" value="Submit">*@
                            <button type="submit" class="btn btn-primary">Submit</button>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    
    $(document).ready(function(){

        $("#submitBtn").on("click",function(){
            
            $("#form-issue").submit();
        })
        if ($("#txtcid").val() == 0){
        const currentDate = new Date();

        // Format the date as YYYY-MM-DD
        const year = currentDate.getFullYear();
        const month = String(currentDate.getMonth() + 1).padStart(2, '0');
        const day = String(currentDate.getDate()).padStart(2, '0');
        const formattedDate = `${year}-${month}-${day}`;
        $("#txtCreatedDate").val(formattedDate);
        }
        function LoadContact(){
            var cid = $("#txtcid").val();
            
             var id = $("#selComp").val();
            $.ajax({
                type: "post",
                url: "/Issue/Contact?id=" + id,
                success: function (data) {
                    $("#selCon").empty();
                    var cols="";
                    for (var i = 0; i < data.length; i++) {
                      if(cid==data[i].id){
                            cols = cols + "<option value='" + data[i].id + "'  selected>" + data[i].contactName + "</option>";
                        }else{
                            cols = cols + "<option  value='" + data[i].id + "'>" + data[i].contactName + "</option>";
                      }
                    }
                    
                    $('#selCon').append(cols);
                    $("#selCon").val(cid);
                    $("#txtcid").val('');
                }
            });
        }
        $(document).on("change", "#selComp", function () {
          
          LoadContact();
        });

        LoadContact();
        //$("#selComp").select2({
        //    dropdownParent: $(".modal-content"),
        //})
        
    });
    $('#selCon').on("change", function(){
        var id= $(this).val();
        $.ajax({
            url: "/Issue/GetEmail?id="+id,
            type:"post",
            success:function(data){
                var email = $('#hConEm').val(data.email);
            }
        });
    });
    
    $('#addRegister').on('hidden.bs.modal', function () {
        location.reload();
})
</script> 