@model Web_Application.ModelViews.IssueVM

<style>
    .rw {
        width: 90%;
    }

    .rw1 {
        width: 48%;
    }
</style>
<div class="modal fade" id="addRegister" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="width:52%;  margin-top: 20px; margin-left:-15%">
            <div class="modal-header p-2">
                <h4 class="modal-title" id="addRegisterLabel">Issue</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>

            </div>
            <div class="modal-body">
                <form asp-action="Issue" asp-controller="Issue" >

                    @Html.AntiForgeryToken()
                    <div class="col" style="margin-left: 13px; ">
                        <input asp-for="Id" id="txtId" hidden />


                        <div class="row pb-1">

                        <div class="rw">
                        <label class="form-label">Resolve By:</label>
                        <input type="date" asp-for="ResolveBy" style="height:33px" class="form-control" required>
                        </div>
                        </div>

                        <div class="row">
                            <div class="btnn" style="display:flex; flex-direction:column; align-items:center;">
                                <button type="submit" class="btn btn-primary">Submit</button>

                            </div>
                        </div>

                    </div>


                </form>
            </div>

        </div>
    </div>
</div>
